version: '3.9'
services:
  app:
    build: .
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ./:/app
    command: sh -c "npm install && npx prisma generate && npx prisma db push && npm run dev"
